#business-property-details-search-form {
  display: flex;

  /* border: 1px solid green; */

  justify-content: center;
}

#business-property-details-div {
  display: flex;
  flex-direction: column;

  /* border: 1px solid salmon; */

  align-items: center;
}
