/*
#policy-parent-div {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
}  */
/*
#create-issue-policy-div {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  justify-content: space-around;
  /* border: 1px solid black; */
  /*height: 100vh; */
/*
#view-policy-details-div {
  /* border: 1px solid blue; */
  /*padding-top: 70px;*/
  /*height: 100vh; */

* {
  box-sizing: border-box;
}

#create-issue-policy-div{
  float: left;
  width: 33.33%;
  padding: 80px;
}

#issue-policy{
  float: left;
  width: 33.33%;
  padding: 160px;
}

#view-policy-details-div{
  float: left;
  width: 33.33%;
  padding: 160px;
}

/* Clearfix (clear floats) */
#policy-parent-div::after {
  content: "";
  clear: both;
  display: table;
}
