#router-outlet-div {
  height: 100vh;
  /* border: 1px solid red; */
}

#selection-buttons-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-drawer {
  width: 20%;
}

mat-drawer-container{
  background-color: cadetblue;
}

.navigation-buttons {
  margin: 5px;
  padding: 10px;
  background-color: cadetblue;
}

.test-div {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 5px;

  /* border: 1px solid red; */
}
